<% layout("layouts/boilerplate.ejs") %>


<h1 class = "home-header">
    Your safe space to feel
</h1>
<h1 class = "home-header">
    VALIDATES, SEEN and HEARD
</h1>

<h4 class = "home-header">
    Start your journey today and take [] with you.
</h4>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>


<h1 class="home-header">
    Our Mission
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolor eum iusto? Reprehenderit, reiciendis facere similique doloribus, vel blanditiis magnam earum ratione, nemo iusto minima expedita. Soluta magni repudiandae, est eaque nihil corrupti modi nam dolorem, ipsa facere recusandae, iusto iste labore. Sit doloremque quos aspernatur incidunt ea. Nobis, sapiente ipsa cum quisquam dicta iure dolores vel amet? Repudiandae perspiciatis quidem reprehenderit repellat necessitatibus excepturi eligendi et iure voluptatum vel! Ipsa totam, quae nobis, quia a quod recusandae non necessitatibus fugit magni doloribus quas et aspernatur vel asperiores ducimus alias voluptate modi minus corporis ad. Veniam voluptas velit vitae neque dignissimos. Quae libero eveniet possimus harum. Architecto ducimus sint reprehenderit exercitationem necessitatibus ad possimus quod, magnam hic eveniet maiores eaque qui animi sunt tempore consectetur. Porro error itaque assumenda exercitationem veniam libero, sapiente deleniti dolorem. Quas numquam sit distinctio fugit voluptatem soluta iusto repellat nulla quod? Maiores quas velit quis vel harum. Molestias.
</p>




<div class="row mb-5 functions">
    <a class="col-3 " href="/moodTracker" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mood Tracker</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>
    <a class="col-3" href="/gratitudeWall" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gratitude Wall</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>

    <a class="col-3" href="your-link-here" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>
    
</div>

<div class="row mb-5 functions">
    <a class="col-3 " href="your-link-here" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>

    <a class="col-3" href="your-link-here" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>

    <a class="col-3" href="your-link-here" class="text-decoration-none">
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some text inside the card.</p>
            </div>
        </div>
    </a>
    
</div>


<!-- <div class="row functions mb-5">
    <div class="col-3 test">
        <a href="#">
        <h1>
            Mood Tracker
        </h1>
        </a>
    </div>
    <div class="col-3 test">
        <h1>
            Daily Streaks
        </h1>
    </div>
    <div class="col-3  test">
        <h1>
            Self Help Toolkit
        </h1>
    </div>
</div>


<div class="row functions">
    <div class="col-3 test">
        <h1>
            Mood Tracker
        </h1>
    </div>
    <div class="col-3 test">
        <h1>
            Daily Streaks
        </h1>
    </div>
    <div class="col-3  test">
        <h1>
            Self Help Toolkit
        </h1>
    </div>
</div> -->

<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->


<a href=""><button type="button" class="btn btn-success getStarted">Get Started !</button></a>
