<% layout("layouts/boilerplate.ejs") %>

<div class="first-section">
    <h1 class="home-header">Your safe space to feel</h1>
    <h1 class="home-header">VALIDATED, SEEN and HEARD</h1>
    <h4 class="sub-header">Start your journey today and take us with you.</h4>
    
    <div class="image-container">
        <img src="https://images.unsplash.com/uploads/14122810486321888a497/1b0cc699?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="some image" />
        <div id="mainHeading">
            <h1 class="website-name">निर्वाण</h1>
        </div>
    </div>
</div>

<!-- mission -->
<div class="mission-container text-center">
    <h2 class="mission-title">Our Mission</h2>
    <img src="https://i.guim.co.uk/img/media/c12125e256db18b8b16b50dd453345d858814a01/0_277_8322_4993/master/8322.jpg?width=300&quality=45&auto=format&fit=max&dpr=2&s=b85e9d354471075b8e5ca4a7b6ee9591" alt="Our Mission Image" class="mission-image"/>
    <p class="mission-description">
        At Nirvana, our mission is to provide a supportive and comprehensive platform for individuals to explore and enhance their mental well-being. We strive to empower users through tools that promote self-awareness, emotional growth, and connection with mental health resources. Whether it's tracking your mood, accessing self-help tools, or finding professional support, we are committed to fostering a community of mindfulness and resilience.
    </p>
</div>

<!-- explore section -->
<div class="explore-section">
    <h1>Explore!</h1>
    <div class="row mb-5 functions">
        <a class="col-3 text-decoration-none" href="/moodTracker">
            <div class="card">
                <img src="https://focusonbusiness.eu/en/userfiles/image/aktualnosci/2021/02_luty/15/AdobeStock_barometr.jpeg" class="card-img-top" alt="Mood Tracker">
                <div class="card-body">
                    <h5 class="card-title">Mood Tracker</h5>
                    <p class="card-text">Track your mood and feelings daily.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="/gratitudeWall">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1698837698562-f5e18b468edd?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Gratitude Wall">
                <div class="card-body">
                    <h5 class="card-title">Gratitude Wall</h5>
                    <p class="card-text">Share what you're grateful for.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="/journal">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1462642109801-4ac2971a3a51?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Card Title">
                <div class="card-body">
                    <h5 class="card-title">Journal</h5>
                    <p class="card-text">Some text inside the card.</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="row mb-5 functions">
        <a class="col-3 text-decoration-none" href="/toolKit">
            <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1687819872124-7188e0780c94?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Card Title">
                <div class="card-body">
                    <h5 class="card-title">Selfhelp ToolKit</h5>
                    <p class="card-text">Some text inside the card.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="your-link-here">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1532106753298-e7b431b26dae?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Card Title">
                <div class="card-body">
                    <h5 class="card-title">Emergency Coping Button</h5>
                    <p class="card-text">Some text inside the card.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="your-link-here">
            <div class="card">
                <img src="image.jpg" class="card-img-top" alt="Card Title">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some text inside the card.</p>
                </div>
            </div>
        </a>
    </div>
    <a href=""><button type="button" class="btn btn-success getStarted">Get Started!</button></a>
    <br><br><br>
</div>