<% layout("layouts/boilerplate.ejs") %>

<div class="explore-section"></div>
    <h1>Explore!</h1>
    <div class="row mb-5 functions">
        <a class="col-3 text-decoration-none" href="/emergency/breathe">
            <div class="card">
                <img src="https://focusonbusiness.eu/en/userfiles/image/aktualnosci/2021/02_luty/15/AdobeStock_barometr.jpeg" class="card-img-top" alt="Mood Tracker">
                <div class="card-body">
                    <h5 class="card-title">Breathe Along</h5>
                    <p class="card-text">Track your mood and feelings daily.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="/emergency/grounding">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1698837698562-f5e18b468edd?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Gratitude Wall">
                <div class="card-body">
                    <h5 class="card-title">Grounding Techniques</h5>
                    <p class="card-text">Share what you're grateful for.</p>
                </div>
            </div>
        </a>
        <a class="col-3 text-decoration-none" href="/emergency/affirmations">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1462642109801-4ac2971a3a51?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Card Title">
                <div class="card-body">
                    <h5 class="card-title">Self-Affirmations</h5>
                    <p class="card-text">Some text inside the card.</p>
                </div>
            </div>
        </a>
    </div>
    
    
</div>